/* UNIVERSAL */

html {
	font-size: 22px;
}

body {
	margin: 0 auto;
	font-family: Helvetica;
	color: seashell;
	background-color: black;
}

.container {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

/* HEADER */

header {
	display: flex;
	z-index: 1;
	align-items: center;
	width: 1200px;
	height: 69px;
	border-bottom: 1px solid seashell;
}

header img {
	height: 50px;
	padding-left: 10px;
}

nav.menu {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.nav-li {
	text-decoration: underline;
	padding-left: 30px;
}

/* MISSION */

.banner {
	display: flex;
	align-items: center;
	height: 700px;
	width: 1200px;
	border: 1px solid seashell;
	background-image: url("../images/img-mission-background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.banner .mission {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 100%;
	background-color: black;
}

/* PRODUCTS */

.products {
	margin: auto;
	width: 1200px;
	border: 1px solid seashell;
	text-align: center;
}

.products-container {
	margin: 0 auto;
	display: flex;
	width: 1000px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid seashell;
	padding-bottom: 40px;
}


.products-cont {
	display: flex;
	flex-direction: column;
	width: 300px;
	border: 1px solid grey;
	padding-bottom: 10px;
}

.products-cont img {
	height: 200px;
	width: 300px;
}

h4.products {
	height: 40px;
	width: 300px;
	padding-top: 10px;
}

.products-cont.myrtle {
	padding-left: 100px;
}

.products-cont.bedford {
	padding-right: 100px;
}

/* LOCATIONS */

.locations {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 1200px;
	height: 500px;
	border: 1px solid grey;
	background-image: url(../images/img-locations-background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.locations-box {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 350px;
	background-color: black;
	text-align: center;
}